$titulos: #383738;
$texto: #495057;
$fuente: 'Poppins', sans-serif;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $fuente;
}

img {
    max-width: 100%;
}

/*HEADER*/
header {
    background-color: #102c54;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    .container {
        .row {
            display: flex;
            flex-direction: row;

            .col {
                &.avatar-container {
                    width: 10%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 30px;
                        height: 30px;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 50%;
                    }
                }

                &.search-container {
                    width: 80%;
                    padding: 0 15px;

                    input {
                        width: 100%;
                        line-height: 2em;
                        border-radius: 5px;
                        padding: 0 5px;
                        font-family: $fuente;
                    }
                }

                &.icon {
                    width: 10%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i {
                        color: #fff;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

/*MAIN*/
main {
    padding: 30px 20px;

    .container {
        .banner {
            width: 100%;
            min-height: 281px;

            &.top {
                background-image: url('../img/Cyber-Monday-Black-Banner.jpg');
            }

            &.middle {
                background-image: url('../img/Cryber-Monday-People-Yellow-Pink.jpg');
            }

            &.bottom {
                background-image: url('../img/Cryber-Monday-Purple-Blue-Tablet.jpg');
            }

            background-size: cover;
            background-position: center;
        }

        .section-title {
            margin: 10px 0;
            text-align: center;
            position: relative;
            padding: 15px 0 30px;
            color: $texto;

            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 50px;
                height: 3px;
                background: #102c54;
                bottom: 15px;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 4px;
            }
        }

        .row {
            display: flex;
            flex-direction: row;
            margin: 15px 0;

            .col {
                width: 50%;
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }

                .product {
                    border-radius: 10px;
                    box-shadow: 4px 3px 4px #989899;

                    .product-image {
                        background-color: #e8e8e8;
                        padding: 2px;
                        cursor: pointer;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }

                    .product-info {
                        background-color: #e8e8e8;

                        h3 {
                            font-size: 15px;
                        }

                        .product-info-inner {
                            padding: 10px;

                            .tags {
                                display: flex;
                                flex-direction: row;
                                padding: 5px 0;

                                span {
                                    font-size: 10px;
                                    margin-right: 6px;
                                    background-color: purple;
                                    color: #fafafa;
                                    padding: 4px;
                                    border: 1px solid #fafafa;
                                    border-radius: 5px;

                                    &:last-child {
                                        margin-right: 0;
                                    }
                                }

                            }

                            .product-price {
                                font-size: 18px;
                                font-weight: 600;
                                margin-bottom: 5px;
                            }

                            .seller {
                                font-size: 12px;
                                font-weight: 300;
                            }
                        }
                    }

                }
            }
        }

        .more-button {
            margin-top: 30px;
            margin-bottom: 63px;
            display: block;
            text-align: center;

            .more-button-link {
                text-decoration: none;
                background-color: none;
                padding: 10px 20px;
                border: 2px solid #102c54;
                border-radius: 5px;

                span {
                    // width: 100%;
                    line-height: 2em;
                    color: $titulos;
                    font-weight: 600;
                    color: #102c54;

                    &:hover {
                        color: #fafafa;
                    }
                }

                i {
                    // width: 100%;
                    font-size: 15px;
                    color: #102c54;
                    margin-left: 10px;
                }

                &:hover{
                    background-color: #102c54;
                }
                &:hover span, &:hover i{
                    color: #fafafa;
                }
            }
        }
    }
}

/*MENÚ*/
.menu {
    max-width: 100%;

    ul {
        background-color: #eaeaea;
        padding: 10px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: block;
        list-style: none;
        text-align: center;
        border-radius: 5px;

        li {
            display: inline-block;
            text-align: center;
            margin-right: 12%;
            cursor: pointer;

            // margin: auto 12% 0 0;
            &:last-child {
                margin-right: 0;
            }

            i {
                font-size: 20px;
                color: #464646;
            }

            .menu-option {
                font-size: 10px;
                font-weight: 400;
            }
        }
    }
}